// Resource file for SciTE
// Copyright 1998-2004 by Neil Hodgson <neilh@scintilla.org>
// The License.txt file describes the conditions under which this software may be distributed.

#ifndef __BORLANDC__
#include <windows.h>
#endif

#include "SciTE.h"
#include "PlatformRes.h"
#include "PropTree\\resource.h"

SciTE ICON SciBall.ico

1 RT_MANIFEST SciTE.exe.manifest

SciTE MENU
BEGIN

POPUP "&File"
BEGIN
	MENUITEM "&New\tCtrl+N",		IDM_NEW
	MENUITEM "&Open...\tCtrl+O",		IDM_OPEN
	MENUITEM "Open Selected &Filename\tCtrl+Shift+O",	IDM_OPENSELECTED
	MENUITEM "&Revert\tCtrl+R",		IDM_REVERT
	MENUITEM "&Close\tCtrl+W",		IDM_CLOSE
	MENUITEM "&Save\tCtrl+S",		IDM_SAVE
	MENUITEM "Save &As...\tCtrl+Shift+S",			IDM_SAVEAS
	MENUITEM "Save a Co&py...\tCtrl+Shift+P",			IDM_SAVEACOPY
	POPUP "Encodin&g"
	BEGIN
		MENUITEM "&8 Bit",		IDM_ENCODING_DEFAULT
		MENUITEM "UCS-2 &Big Endian",		IDM_ENCODING_UCS2BE
		MENUITEM "UCS-2 &Little Endian",		IDM_ENCODING_UCS2LE
		MENUITEM "&UTF-8",		IDM_ENCODING_UTF8
		MENUITEM "UTF-8 &Cookie",		IDM_ENCODING_UCOOKIE
	END
	POPUP "&Export"
	BEGIN
		MENUITEM "As &HTML...",		IDM_SAVEASHTML
		MENUITEM "As &RTF...",		IDM_SAVEASRTF
		MENUITEM "As &PDF...",		IDM_SAVEASPDF
		MENUITEM "As &LaTeX...",	IDM_SAVEASTEX
		MENUITEM "As &XML...",  	IDM_SAVEASXML
	END
	MENUITEM SEPARATOR
	MENUITEM "Page Set&up...",		IDM_PRINTSETUP
	MENUITEM "&Print...\tCtrl+P",	IDM_PRINT
	MENUITEM SEPARATOR
	MENUITEM "&Load Session...",		IDM_LOADSESSION
	MENUITEM "Sa&ve Session...",		IDM_SAVESESSION
	MENUITEM SEPARATOR
	MENUITEM "E&xit",				IDM_QUIT
END

POPUP "&Edit"
BEGIN
	MENUITEM "&Undo\tCtrl+Z",  				IDM_UNDO
	MENUITEM "&Redo\tCtrl+Y",  				IDM_REDO
	MENUITEM SEPARATOR
	MENUITEM "Cu&t\tCtrl+X",				IDM_CUT
	MENUITEM "&Copy\tCtrl+C",				IDM_COPY
	MENUITEM "&Paste\tCtrl+V",				IDM_PASTE
	MENUITEM "&Delete\tDel",				IDM_CLEAR
	MENUITEM "Select &All\tCtrl+A",			IDM_SELECTALL
	MENUITEM "Copy as RT&F",				IDM_COPYASRTF
	MENUITEM SEPARATOR
	MENUITEM "Match &Brace\tCtrl+E",			IDM_MATCHBRACE
	MENUITEM "Select t&o Brace\tCtrl+Shift+E",	IDM_SELECTTOBRACE
	MENUITEM "S&how Calltip\tCtrl+Shift+Space",	IDM_SHOWCALLTIP
	MENUITEM "Complete S&ymbol\tCtrl+I",		IDM_COMPLETE
	MENUITEM "Complete &Word\tCtrl+Enter",		IDM_COMPLETEWORD
	MENUITEM "&Expand Abbreviation\tCtrl+B",	IDM_ABBREV
	MENUITEM "&Insert Abbreviation\tCtrl+Shift+R",	IDM_INS_ABBREV
	MENUITEM "Block Co&mment or Uncomment\tCtrl+Q",	IDM_BLOCK_COMMENT
	MENUITEM "Bo&x Comment\tCtrl+Shift+B",	IDM_BOX_COMMENT
	MENUITEM "Stream Comme&nt\tCtrl+Shift+Q",	IDM_STREAM_COMMENT
	MENUITEM "Make &Selection Uppercase\tCtrl+Shift+U",	IDM_UPRCASE
	MENUITEM "Make Selection &Lowercase\tCtrl+U",	IDM_LWRCASE
	POPUP "Para&graph"
	BEGIN
		MENUITEM "&Join",						IDM_JOIN
		MENUITEM "&Split",						IDM_SPLIT
	END
END // used: abcdefghlmnoprstuwxy

POPUP "&Search"
BEGIN
	MENUITEM "&Find...\tCtrl+F",				IDM_FIND
	MENUITEM "Find &Next\tF3",				IDM_FINDNEXT
	MENUITEM "Find Previou&s\tShift+F3",		IDM_FINDNEXTBACK
	MENUITEM "F&ind in Files...\tCtrl+Shift+F",	IDM_FINDINFILES
	MENUITEM "R&eplace...\tCtrl+H",			IDM_REPLACE
	MENUITEM "Incrementa&l Search...\tCtrl+Alt+I",	IDM_INCSEARCH
	MENUITEM SEPARATOR
	MENUITEM "&Go to...\tCtrl+G",			IDM_GOTO
	MENUITEM "Next Book&mark\tF2",			IDM_BOOKMARK_NEXT
	MENUITEM "Pre&vious Bookmark\tShift+F2",	IDM_BOOKMARK_PREV
	MENUITEM "Toggle Bookmar&k\tCtrl+F2",		IDM_BOOKMARK_TOGGLE
	MENUITEM "&Clear All Bookmarks",			IDM_BOOKMARK_CLEARALL
END

POPUP "&View"
BEGIN
	MENUITEM "Toggle &current fold",		IDM_EXPAND
	MENUITEM "Toggle &all folds",		IDM_TOGGLE_FOLDALL
	MENUITEM SEPARATOR
	MENUITEM "Full Scree&n\tF11",		IDM_FULLSCREEN
	MENUITEM "&Tool Bar",          			IDM_VIEWTOOLBAR
	MENUITEM "Tab &Bar",          			IDM_VIEWTABBAR
	MENUITEM "&Status Bar",          		IDM_VIEWSTATUSBAR
	MENUITEM SEPARATOR
	MENUITEM "&Whitespace\tCtrl+Shift+8", 	IDM_VIEWSPACE
	MENUITEM "&End of Line\tCtrl+Shift+9",	IDM_VIEWEOL
	MENUITEM "&Indentation Guides", 		IDM_VIEWGUIDES
	MENUITEM "&Line Numbers",          		IDM_LINENUMBERMARGIN
	MENUITEM "&Margin",          			IDM_SELMARGIN
	MENUITEM "&Fold Margin",			IDM_FOLDMARGIN
	MENUITEM "&Output\tF8",				IDM_TOGGLEOUTPUT
	//MENUITEM "&Parameters\tShift+F8",			IDM_TOGGLEPARAMETERS
END

POPUP "&Tools"
BEGIN
	MENUITEM "&Compile\tF7",		IDM_COMPILE
	//MENUITEM "&Build\tF7",				IDM_BUILD
	//MENUITEM "&Go\tF5",					IDM_GO
	//MENUITEM "&Stop Executing\tCtrl+Break",IDM_STOPEXECUTE
	MENUITEM SEPARATOR
	MENUITEM "Toggle Breakpoint\tF9",		IDM_TOGGLEBREAKPOINT
	MENUITEM SEPARATOR
	MENUITEM "&Next Message\tF4",		IDM_NEXTMSG
	MENUITEM "&Previous Message\tShift+F4",IDM_PREVMSG
	MENUITEM "Clear &Output\tShift+F5",	IDM_CLEAROUTPUT
	MENUITEM "&Switch Pane\tCtrl+F6",	IDM_SWITCHPANE
END

POPUP "&Options"
BEGIN
	MENUITEM "&Always On Top",			IDM_ONTOP
	MENUITEM "Open Files &Here",		IDM_OPENFILESHERE
	MENUITEM "Vertical &Split",			IDM_SPLITVERTICAL
	MENUITEM "&Wrap",			IDM_WRAP
	MENUITEM "Wrap Out&put",			IDM_WRAPOUTPUT
	MENUITEM "&Read-Only",				IDM_READONLY
	MENUITEM SEPARATOR
	POPUP "&Line End Characters"
	BEGIN
		MENUITEM "CR &+ LF",	IDM_EOL_CRLF
		MENUITEM "&CR",		IDM_EOL_CR
		MENUITEM "&LF",		IDM_EOL_LF
	END
	MENUITEM "&Convert Line End Characters",	IDM_EOL_CONVERT
	MENUITEM SEPARATOR
	MENUITEM "Change Inden&tation Settings...\tCtrl+Shift+I",	IDM_TABSIZE
	MENUITEM "Use &Monospaced Font\tCtrl+F11",	IDM_MONOFONT
	MENUITEM SEPARATOR
	MENUITEM "Open Local &Options File",		IDM_OPENLOCALPROPERTIES
	MENUITEM "Open &User Options File",		IDM_OPENUSERPROPERTIES
	MENUITEM "Open &Global Options File",		IDM_OPENGLOBALPROPERTIES
	MENUITEM "Open A&bbreviations File",		IDM_OPENABBREVPROPERTIES
	MENUITEM "Open Lua Startup Scr&ipt", 		IDM_OPENLUAEXTERNALFILE
	MENUITEM SEPARATOR
END // used: abcghlmoprstux

POPUP "&Language"
BEGIN
	MENUITEM "", IDM_LANGUAGE
END

POPUP "&Buffers"
BEGIN
	MENUITEM "&Previous\tShift+F6",			IDM_PREVFILE
	MENUITEM "&Next\tF6",			IDM_NEXTFILE
	MENUITEM "&Close All",				IDM_CLOSEALL
	MENUITEM "&Save All",				IDM_SAVEALL
END

POPUP "&Help"
BEGIN
	MENUITEM "&Help\tF1", 				IDM_HELP
#ifdef STATIC_BUILD
	MENUITEM "&Sc1 Help",			IDM_HELP_SCITE
	MENUITEM "&About Sc1",				IDM_ABOUT
#else
	MENUITEM "&SciTE Help",			IDM_HELP_SCITE
	MENUITEM "&About GLISciTE",			IDM_ABOUT
#endif
END

END

ABOUT DIALOGEX 26, 41, 350, 242
CAPTION "About GLI-SciTE"
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "", IDABOUTSCINTILLA, "Scintilla", WS_CHILD, 1, 1, 346, 218
	ICON "GLISciTE", -1, 1, 221, 32, 32, WS_CHILD | WS_VISIBLE
	DEFPUSHBUTTON "OK", IDOK, 26, 222, 322, 20, WS_TABSTOP
END

GREP DIALOGEX 26, 41, 356, 61
CAPTION "Find in Files"
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "Fi&nd what:", -1, 5, 7, 40, 8
	COMBOBOX IDFINDWHAT, 50, 5, 245, 50, WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL

	LTEXT "F&iles:", -1, 5, 25, 40, 8
	COMBOBOX IDFILES, 50, 23, 245, 50, WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL

	LTEXT "&Directory:", -1, 5, 43, 40, 8
	COMBOBOX IDDIRECTORY, 50, 41, 230, 50, WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL

	DEFPUSHBUTTON "&Find", IDOK, 301, 5, 50, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 301, 23, 50, 14, WS_TABSTOP

	PUSHBUTTON "..", IDDOTDOT, 285, 41, 10, 14,  WS_TABSTOP
	PUSHBUTTON "&Browse...", IDBROWSE, 301, 41, 50, 14,  WS_TABSTOP

END

GOLINE DIALOGEX 26, 41, 240, 50
CAPTION "Go To"
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "&Destination Line:", -1, 5, 8, 70, 8
	EDITTEXT IDGOLINE, 75, 6, 30, 12, WS_TABSTOP | ES_NUMBER
	LTEXT "&Column:", -1, 115, 8, 35, 8
	EDITTEXT IDGOLINECHAR, 150, 6, 30, 12, WS_TABSTOP | ES_NUMBER
	LTEXT "Current Line:",-1,5,21,50,8,NOT WS_GROUP
	LTEXT "1234567",IDCURRLINE,75,21,30,8,NOT WS_GROUP
	LTEXT "Column:",-1,115,21,35,8,NOT WS_GROUP
	LTEXT "1234567",IDCURRLINECHAR,150,21,30,8,NOT WS_GROUP
	LTEXT "Last Line:",-1,5,34,50,8,NOT WS_GROUP
	LTEXT "1234567",IDLASTLINE,75,34,30,8,NOT WS_GROUP
	DEFPUSHBUTTON "&Go To", IDOK, 190, 6, 45, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 190, 26, 45, 14, WS_TABSTOP
END

INSABBREV DIALOGEX 26, 41, 181, 45
CAPTION "Insert Abbreviation"
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "&Abbreviation:", -1, 5, 8, 65, 8
	// EDITTEXT IDABBREV, 70, 6, 106, 12, WS_TABSTOP
	COMBOBOX IDABBREV, 70, 6, 106, 88, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | CBS_SORT
	DEFPUSHBUTTON "&Insert", IDOK, 70, 26, 50, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 126, 26, 50, 14, WS_TABSTOP
END

TABSIZE DIALOGEX 26, 41, 155, 55
CAPTION "Indentation Settings"
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "&Tab Size:", -1, 5, 8, 70, 8
	EDITTEXT IDTABSIZE, 79, 6, 15, 12, WS_TABSTOP | ES_NUMBER
	LTEXT "&Indent Size:", -1, 5, 26, 70, 8
	EDITTEXT IDINDENTSIZE, 79, 24, 15, 12, WS_TABSTOP | ES_NUMBER
	AUTOCHECKBOX  	"&Use tabs:", IDUSETABS,4,40,90,12, WS_GROUP | WS_TABSTOP | BS_LEFTTEXT
	DEFPUSHBUTTON "OK", IDOK, 100, 6, 50, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 100, 26, 50, 14, WS_TABSTOP
END

#ifdef ALL_PARAMS
PARAMETERS  DIALOGEX 26, 41, 130, 175
#endif
PARAMETERS  DIALOGEX 26, 41, 130, 100
CAPTION "Parameters"
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "", IDCMD, 5, 5, 120, 8

	LTEXT "&1:", -1, 5, 20, 8, 8
	EDITTEXT IDPARAMSTART+0, 15, 18, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&2:", -1, 5, 35, 8, 8
	EDITTEXT IDPARAMSTART+1, 15, 33, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&3:", -1, 5, 50, 8, 8
	EDITTEXT IDPARAMSTART+2, 15, 48, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&4:", -1, 5, 65, 8, 8
	EDITTEXT IDPARAMSTART+3, 15, 63, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
#ifdef ALL_PARAMS
	LTEXT "&5:", -1, 5, 80, 8, 8
	EDITTEXT IDPARAMSTART+4, 15, 78, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&6:", -1, 5, 95, 8, 8
	EDITTEXT IDPARAMSTART+5, 15, 93, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&7:", -1, 5, 110, 8, 8
	EDITTEXT IDPARAMSTART+6, 15, 108, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&8:", -1, 5, 125, 8, 8
	EDITTEXT IDPARAMSTART+7, 15, 123, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&9:", -1, 5, 140, 8, 8
	EDITTEXT IDPARAMSTART+8, 15, 138, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL

	DEFPUSHBUTTON "&Execute", IDOK, 6, 155, 55, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 70, 155, 55, 14, WS_TABSTOP
#endif
	DEFPUSHBUTTON "&Execute", IDOK, 6, 80, 55, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 70, 80, 55, 14, WS_TABSTOP
END

#ifdef ALL_PARAMS
PARAMETERSNONMODAL  DIALOGEX 26, 41, 130, 160
#endif
PARAMETERSNONMODAL  DIALOGEX 26, 41, 130, 85
CAPTION "Parameters"
STYLE DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "&1:", -1, 5, 5, 8, 8
	EDITTEXT IDPARAMSTART+0, 15, 3, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&2:", -1, 5, 20, 8, 8
	EDITTEXT IDPARAMSTART+1, 15, 18, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&3:", -1, 5, 35, 8, 8
	EDITTEXT IDPARAMSTART+2, 15, 33, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&4:", -1, 5, 50, 8, 8
	EDITTEXT IDPARAMSTART+3, 15, 48, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
#ifdef ALL_PARAMS
	LTEXT "&5:", -1, 5, 65, 8, 8
	EDITTEXT IDPARAMSTART+4, 15, 63, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&6:", -1, 5, 80, 8, 8
	EDITTEXT IDPARAMSTART+5, 15, 78, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&7:", -1, 5, 95, 8, 8
	EDITTEXT IDPARAMSTART+6, 15, 93, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&8:", -1, 5, 110, 8, 8
	EDITTEXT IDPARAMSTART+7, 15, 108, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&9:", -1, 5, 125, 8, 8
	EDITTEXT IDPARAMSTART+8, 15, 123, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL

	DEFPUSHBUTTON "&Set", IDOK, 6, 140, 55, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 70, 140, 55, 14, WS_TABSTOP
#endif
	DEFPUSHBUTTON "&Set", IDOK, 6, 65, 55, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 70, 65, 55, 14, WS_TABSTOP
END

IDD_FIND DIALOGEX 30, 73, 275, 84
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Find"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "Fi&nd what:",-1,5,7,45,8
	COMBOBOX        IDFINDWHAT,50,5,145,50, WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL
	AUTOCHECKBOX    "Match &whole word only", IDWHOLEWORD,5,22,120,10, WS_GROUP | WS_TABSTOP
	AUTOCHECKBOX    "Match &case", IDMATCHCASE,5,34,130,10, WS_TABSTOP
	AUTOCHECKBOX    "Regular &expression", IDREGEXP,5,46,120,10, WS_TABSTOP
	AUTOCHECKBOX    "Wrap aroun&d", IDWRAP,5,58,120,10, WS_TABSTOP
	AUTOCHECKBOX    "Transform &backslash expressions", IDUNSLASH,5,70,160,10, WS_TABSTOP
	GROUPBOX        "Direction", -1, 135,22,60,34,WS_GROUP
	AUTORADIOBUTTON "&Up",IDDIRECTIONUP,140,30,45,12, WS_GROUP
	AUTORADIOBUTTON "&Down",IDDIRECTIONDOWN,140,42,45,12
	DEFPUSHBUTTON   "&Find Next",IDOK,205,5,65,14,WS_GROUP
	PUSHBUTTON      "&Mark All",IDMARKALL,205,23,65,14
	PUSHBUTTON      "Cancel",IDCANCEL,205,41,65,14
END

IDD_FIND_ADV DIALOGEX 30, 73, 275, 96
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Find"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "Fi&nd what:",-1,5,7,45,8
	COMBOBOX        IDFINDWHAT,50,5,145,50, WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL
	AUTOCHECKBOX    "Match &whole word only", IDWHOLEWORD,5,22,120,10, WS_GROUP | WS_TABSTOP
	AUTOCHECKBOX    "Match &case", IDMATCHCASE,5,34,130,10, WS_TABSTOP
	AUTOCHECKBOX    "Regular &expression", IDREGEXP,5,46,120,10, WS_TABSTOP
	AUTOCHECKBOX    "Wrap aroun&d", IDWRAP,5,58,120,10, WS_TABSTOP
	AUTOCHECKBOX    "Transform &backslash expressions", IDUNSLASH,5,70,160,10, WS_TABSTOP
	AUTOCHECKBOX    "Search only in &this style:", IDFINDINSTYLE,5,82,95,10, WS_TABSTOP
	EDITTEXT        IDFINDSTYLE,100,81,30,12, WS_GROUP | WS_TABSTOP | ES_NUMBER
	GROUPBOX        "Direction", -1, 135,22,60,34,WS_GROUP
	AUTORADIOBUTTON "&Up",IDDIRECTIONUP,140,30,45,12, WS_GROUP
	AUTORADIOBUTTON "&Down",IDDIRECTIONDOWN,140,42,45,12
	DEFPUSHBUTTON   "&Find Next",IDOK,205,5,65,14,WS_GROUP
	PUSHBUTTON      "&Mark All",IDMARKALL,205,23,65,14
	PUSHBUTTON      "Cancel",IDCANCEL,205,41,65,14
END

IDD_REPLACE DIALOGEX 36, 44, 285, 110
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Replace"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "Fi&nd what:",-1,5,7,55,8
	COMBOBOX        IDFINDWHAT,60,5,125,50,WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL
	LTEXT           "Re&place with:",-1,5,25,55,8
	COMBOBOX        IDREPLACEWITH,60,23,125,50,WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL
	AUTOCHECKBOX    "Match &whole word only", IDWHOLEWORD,5,42,130,10, WS_GROUP | WS_TABSTOP
	AUTOCHECKBOX    "Match &case", IDMATCHCASE,5,54,130,10, WS_TABSTOP
	AUTOCHECKBOX    "Regular &expression", IDREGEXP,5,66,120,10, WS_TABSTOP
	AUTOCHECKBOX    "Wrap aroun&d", IDWRAP,5,78,120,10, WS_TABSTOP
	AUTOCHECKBOX    "Transform &backslash expressions", IDUNSLASH,5,90,150,10, WS_TABSTOP
	DEFPUSHBUTTON   "&Find Next",IDOK,190,5,90,14,WS_GROUP
	PUSHBUTTON      "&Replace",IDREPLACE,190,23,90,14
	PUSHBUTTON      "Replace &All",IDREPLACEALL,190,41,90,14
	PUSHBUTTON      "Replace in &Selection",IDREPLACEINSEL,190,59,90,14
	PUSHBUTTON      "Close",IDCANCEL,190,77,90,14
	LTEXT           "Replacements:",-1,190,96,55,8
	LTEXT           "1234567",IDREPLDONE,250,96,30,8,NOT WS_GROUP
END

IDD_REPLACE_ADV DIALOGEX 36, 44, 285, 128
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Replace"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "Fi&nd what:",-1,5,7,55,8
	COMBOBOX        IDFINDWHAT,60,5,125,50,WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL
	LTEXT           "Re&place with:",-1,5,25,55,8
	COMBOBOX        IDREPLACEWITH,60,23,125,50,WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL
	AUTOCHECKBOX    "Match &whole word only", IDWHOLEWORD,5,42,130,10, WS_GROUP | WS_TABSTOP
	AUTOCHECKBOX    "Match &case", IDMATCHCASE,5,54,130,10, WS_TABSTOP
	AUTOCHECKBOX    "Regular &expression", IDREGEXP,5,66,120,10, WS_TABSTOP
	AUTOCHECKBOX    "Wrap aroun&d", IDWRAP,5,78,120,10, WS_TABSTOP
	AUTOCHECKBOX    "Transform &backslash expressions", IDUNSLASH,5,90,150,10, WS_TABSTOP
	AUTOCHECKBOX    "Search only in &this style:", IDFINDINSTYLE,5,102,95,10, WS_TABSTOP
	EDITTEXT        IDFINDSTYLE,100,101,30,12, WS_GROUP | WS_TABSTOP | ES_NUMBER
	DEFPUSHBUTTON   "&Find Next",IDOK,190,5,90,14,WS_GROUP
	PUSHBUTTON      "&Replace",IDREPLACE,190,23,90,14
	PUSHBUTTON      "Replace &All",IDREPLACEALL,190,41,90,14
	PUSHBUTTON      "Replace in &Selection",IDREPLACEINSEL,190,59,90,14
	PUSHBUTTON      "Replace in B&uffers",IDREPLACEINBUF,190,77,90,14
	PUSHBUTTON      "Close",IDCANCEL,190,95,90,14
	LTEXT           "Replacements:",-1,190,114,55,8
	LTEXT           "1234567",IDREPLDONE,250,114,30,8,NOT WS_GROUP
END

IDD_FIND2 DIALOGEX 0, 0, 243, 14
STYLE DS_SYSMODAL | DS_MODALFRAME | DS_CONTROL | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "Search for:",IDC_STATIC,4,2,40,8
	EDITTEXT        IDC_INCFINDTEXT,45,1,175,12,ES_AUTOHSCROLL |
		ES_WANTRETURN | NOT WS_BORDER,WS_EX_STATICEDGE
	DEFPUSHBUTTON   ">",IDC_INCFINDBTNOK,223,0,16,14
END



IDD_GLISHADERS DIALOGEX  0, 0, 192, 258
STYLE WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "GLI Shaders"
FONT 8, "MS Sans Serif"
BEGIN
       CONTROL         "Show shader usage",IDC_SHOWSHADER,"Button",
                     BS_AUTOCHECKBOX | WS_TABSTOP,7,3,76,8
       CONTROL         "Break on shader usage",IDC_BREAKSHADER,"Button",
                     BS_AUTOCHECKBOX | WS_TABSTOP,97,3,86,8
       CONTROL         "Shader List",IDC_SHADERLIST,"SysListView32",LVS_REPORT | 
                     LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,7,15,178,222
       DEFPUSHBUTTON   "Open",ID_OPENSHADER,10,240,50,14
       PUSHBUTTON   "Revert",ID_REVERTSHADER,72,240,50,14
       PUSHBUTTON   "Refresh",ID_REFRESH,134,240,50,14       
END

IDD_GLISHADERDEBUG DIALOGEX 0, 0, 281, 298
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Shader Debug"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Pixel Value: 1.0, 0.5, 3.0, 2.0",IDC_STATIC,4,5,112,10
    LTEXT           "XY = (2000, 3000)",IDC_STATIC,213,6,59,11

    CONTROL         "BufferView",IDC_BUFFERTAB,"SysTabControl32",TCS_BOTTOM,1,16,204,
                    117

    CONTROL         "",IDC_STATIC,"Static",SS_BLACKFRAME,209,17,70,36

    CONTROL         "Select Cursor",IDC_SELECTPIXEL,"Button",BS_AUTORADIOBUTTON | 
                    BS_ICON | BS_PUSHLIKE,210,55,18,16,WS_EX_STATICEDGE

    CONTROL         "Toggle Diff",IDC_TOGGLEDIFF,"Button",BS_AUTOCHECKBOX | BS_ICON | 
                    BS_PUSHLIKE | WS_TABSTOP,227,55,18,16,WS_EX_STATICEDGE

    CONTROL         "Zoom In",IDC_ZOOMIN,"Button",BS_AUTORADIOBUTTON | 
                    BS_ICON | BS_PUSHLIKE,261,55,18,16,WS_EX_STATICEDGE

    CONTROL         "Zoom Out",IDC_ZOOMOUT,"Button",BS_AUTORADIOBUTTON | 
                    BS_ICON | BS_PUSHLIKE,244,55,18,16,WS_EX_STATICEDGE

    LTEXT           "Scale:",IDC_STATIC,211,76,24,11
    EDITTEXT        IDC_SCALEVALUE,235,76,43,12,ES_AUTOHSCROLL

    LTEXT           "Bias:",IDC_STATIC,211,90,24,11
    EDITTEXT        IDC_BIASVALUE,235,90,44,12,ES_AUTOHSCROLL

    PUSHBUTTON      "Debug Pixel",IDC_DEBUGPIXEL,229,106,49,14

    LTEXT           "",IDC_SHADERVALUES,0,136,281,161,WS_BORDER

END


//The prop Tree resources
/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_TRUE                "True"
    IDS_FALSE               "False"
    IDS_NOITEMSEL           "No Item Selected"
    IDS_SELFORINFO          "Select an item to see its description"
END

IDC_FPOINT              CURSOR  DISCARDABLE     "PropTree\\res\\fpoint.cur"
IDC_SPLITTER            CURSOR  DISCARDABLE     "PropTree\\res\\spliter.cur"




// 0xDD is VK_OEM_6, ']}' but not in mingw headers

ACCELS ACCELERATORS
BEGIN
	"N", IDM_NEW,   VIRTKEY, CONTROL
	"O", IDM_OPEN,   VIRTKEY, CONTROL
	"O", IDM_OPENSELECTED,   VIRTKEY, CONTROL, SHIFT
	"R", IDM_REVERT,   VIRTKEY, CONTROL
	"W", IDM_CLOSE,   VIRTKEY, CONTROL
	"S", IDM_SAVE,   VIRTKEY, CONTROL
	"S", IDM_SAVEAS, VIRTKEY, CONTROL, SHIFT
	"P", IDM_SAVEACOPY, VIRTKEY, CONTROL, SHIFT
	"P", IDM_PRINT,   VIRTKEY, CONTROL

	"F", IDM_FIND,   VIRTKEY, CONTROL
	"F", IDM_FINDINFILES,   VIRTKEY, CONTROL, SHIFT
	"H", IDM_REPLACE,  VIRTKEY, CONTROL
	"G", IDM_GOTO, VIRTKEY, CONTROL
	"E", IDM_MATCHBRACE, VIRTKEY, CONTROL
	"E", IDM_SELECTTOBRACE, VIRTKEY, CONTROL, SHIFT
	VK_SPACE, IDM_SHOWCALLTIP, VIRTKEY, CONTROL, SHIFT
	VK_SPACE, IDM_COMPLETE, VIRTKEY, CONTROL
	"B", IDM_ABBREV, VIRTKEY, CONTROL
	"R", IDM_INS_ABBREV, VIRTKEY, CONTROL, SHIFT
	"I", IDM_COMPLETE, VIRTKEY, CONTROL
	"J", IDM_PREVMATCHPPC, VIRTKEY, CONTROL
	"J", IDM_SELECTTOPREVMATCHPPC, VIRTKEY, CONTROL, SHIFT
	"K", IDM_NEXTMATCHPPC, VIRTKEY, CONTROL
	"K", IDM_SELECTTONEXTMATCHPPC, VIRTKEY, CONTROL, SHIFT
	"Q", IDM_BLOCK_COMMENT, VIRTKEY, CONTROL
	"Q", IDM_STREAM_COMMENT, VIRTKEY, CONTROL, SHIFT
	"B", IDM_BOX_COMMENT, VIRTKEY, CONTROL, SHIFT
	VK_RETURN, IDM_COMPLETEWORD, VIRTKEY, CONTROL

	// this does not work and gives RC warning:
	// ASCII character not equivalent to virtual key code
	//"*", IDM_EXPAND,  VIRTKEY, CONTROL

	// this works for a german keyboard
	187, IDM_EXPAND,  VIRTKEY, CONTROL, SHIFT
	VK_MULTIPLY, IDM_EXPAND,  VIRTKEY, CONTROL
/*
	"0", IDM_TOOLS+0, VIRTKEY, CONTROL
	"1", IDM_TOOLS+1, VIRTKEY, CONTROL
	"2", IDM_TOOLS+2, VIRTKEY, CONTROL
	"3", IDM_TOOLS+3, VIRTKEY, CONTROL
	"4", IDM_TOOLS+4, VIRTKEY, CONTROL
	"5", IDM_TOOLS+5, VIRTKEY, CONTROL
	"6", IDM_TOOLS+6, VIRTKEY, CONTROL
	"7", IDM_TOOLS+7, VIRTKEY, CONTROL
	"8", IDM_TOOLS+8, VIRTKEY, CONTROL
	"9", IDM_TOOLS+9, VIRTKEY, CONTROL
*/
	"1", IDM_BUFFER+0, VIRTKEY, ALT
	"2", IDM_BUFFER+1, VIRTKEY, ALT
	"3", IDM_BUFFER+2, VIRTKEY, ALT
	"4", IDM_BUFFER+3, VIRTKEY, ALT
	"5", IDM_BUFFER+4, VIRTKEY, ALT
	"6", IDM_BUFFER+5, VIRTKEY, ALT
	"7", IDM_BUFFER+6, VIRTKEY, ALT
	"8", IDM_BUFFER+7, VIRTKEY, ALT
	"9", IDM_BUFFER+8, VIRTKEY, ALT
	"0", IDM_BUFFER+9, VIRTKEY, ALT

	"U", IDM_UPRCASE,   VIRTKEY, CONTROL, SHIFT
	"U", IDM_LWRCASE,  VIRTKEY, CONTROL
	"8", IDM_VIEWSPACE, VIRTKEY, CONTROL, SHIFT
	"9", IDM_VIEWEOL, VIRTKEY, CONTROL, SHIFT

	"I", IDM_TABSIZE,   VIRTKEY, CONTROL, SHIFT

	VK_F1, IDM_HELP, VIRTKEY

	VK_F2, IDM_BOOKMARK_NEXT, VIRTKEY
	VK_F2, IDM_BOOKMARK_PREV, VIRTKEY, SHIFT
	VK_F2, IDM_BOOKMARK_TOGGLE, VIRTKEY, CONTROL
	VK_F2, IDM_BOOKMARK_NEXT_SELECT, VIRTKEY, ALT
	VK_F2, IDM_BOOKMARK_PREV_SELECT, VIRTKEY, ALT, SHIFT

	VK_F3, IDM_FINDNEXT,   VIRTKEY
	VK_F3, IDM_FINDNEXTBACK,   VIRTKEY, SHIFT
	VK_F3, IDM_FINDNEXTSEL,   VIRTKEY, CONTROL
	VK_F3, IDM_FINDNEXTBACKSEL,   VIRTKEY, CONTROL, SHIFT

	VK_F4, IDM_NEXTMSG,  VIRTKEY
	VK_F4, IDM_PREVMSG,  VIRTKEY, SHIFT
	VK_F4, IDM_CLOSE,   VIRTKEY, CONTROL

	VK_F5, IDM_GO,  VIRTKEY
	VK_F5, IDM_CLEAROUTPUT,  VIRTKEY, SHIFT

	VK_F6, IDM_PREVFILE,  VIRTKEY, SHIFT
	VK_F6, IDM_SWITCHPANE,  VIRTKEY, CONTROL
	VK_F6, IDM_NEXTFILE,  VIRTKEY
	VK_F6, IDM_SWITCHPANE,  VIRTKEY, CONTROL, SHIFT

	VK_F7, IDM_COMPILE,  VIRTKEY 

	VK_F8, IDM_TOGGLEOUTPUT, VIRTKEY
	VK_F8, IDM_TOGGLEPARAMETERS, VIRTKEY, SHIFT

	VK_F9, IDM_TOGGLEBREAKPOINT,  VIRTKEY 

	VK_F12, IDM_MACROLIST, VIRTKEY, SHIFT
	VK_F12, IDM_MACROPLAY, VIRTKEY
	VK_F12, IDM_MACRORECORD, VIRTKEY, CONTROL
	VK_F12, IDM_MACROSTOPRECORD, VIRTKEY, CONTROL, SHIFT

	VK_F11, IDM_FULLSCREEN,  VIRTKEY
	VK_F11, IDM_MONOFONT,  VIRTKEY, CONTROL

	VK_TAB, IDM_PREVFILE,  VIRTKEY, CONTROL, SHIFT
	VK_TAB, IDM_NEXTFILE,  VIRTKEY, CONTROL

	VK_BACK, IDM_UNDO,  VIRTKEY, ALT
	VK_BACK, IDM_REDO,  VIRTKEY, ALT, SHIFT
	VK_CANCEL, IDM_STOPEXECUTE,  VIRTKEY, CONTROL

	// Workaround for the most common case where SciTE undo and
	// redo buttons don't enable/disable when you expect.
	"Z", IDM_UNDO,  VIRTKEY, CONTROL
	"Y", IDM_REDO,  VIRTKEY, CONTROL

	"X", IDM_CUT,  VIRTKEY, CONTROL
	"C", IDM_COPY,  VIRTKEY, CONTROL

	"I", IDM_INCSEARCH,          VIRTKEY, CONTROL, ALT
END

IDR_CLOSEFILE BITMAP "closefile.bmp"
IDR_COMPILE   BITMAP "compile.bmp"

//The embedded properties file is to allow a one file distribution of Sc1.EXE
#ifdef STATIC_BUILD
Embedded Properties Embedded.properties
IDC_MARGIN         CURSOR  DISCARDABLE     "Margin.cur"
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION	1, 6, 5, 0
PRODUCTVERSION	1, 6, 5, 0
FILEFLAGSMASK	0x3fL
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
	BLOCK	"VarFileInfo"
	BEGIN
		VALUE	"Translation",	0x409,	1200
	END
	BLOCK	"StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE	"CompanyName",	"Damian Trebilco dtrebilco@techie.com Neil Hodgson neilh@scintilla.org\0"
			VALUE	"FileDescription",	"GLISciTE - a Scintilla based OpenGL shader Editor\0"
			VALUE	"FileVersion",	"1.65\0"
			VALUE	"InternalName",	"GLISciTE\0"
			VALUE	"LegalCopyright",	"GLI part by Damian Trebilco. SciTE Copyright 1998-2004 by Neil Hodgson.\0"
			VALUE	"OriginalFilename",	"GLISciTE.EXE\0"
			VALUE	"ProductName",	"GLISciTE\0"
			VALUE	"ProductVersion",	"1.65\0"
		END
	END
END

